body{
    border: 2px solid black;
    padding: 0;
    margin: 0;
}
div{
    padding: 20px 10px 5px;
    margin: 25px 15px 5px;
    border: 2px solid rgb(255, 0, 0);
}
.a1{
    text-align: center;
}
p{
    text-align: inherit;
}
p{

}

a{
    text-decoration:line-through;

}
h3{
    text-transform: capitalize;
    letter-spacing: 10px;
    text-indent: 20px;
}